@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       url('/__static/vendor/MaterialIcons.ttf') format('truetype');
}

.md-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.md-icons-lg {
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1rem;
}

.pull-right {
  float: right;
}

html {
  font-size: 16px;
}

body {
  font-family: "Trebuchet MS";
  color: #424242;
  background: #EEEEEE;
}

input {
  box-sizing: border-box;
  font-size: 1rem;
  display: block;
  border-color: #ccc;
  border-radius: 1px;
  outline: none;
  transition: .2s;

  &:hover {
    border-color: #aaa;
  }

  &:focus {
    border-color: #666;
  }
}

.no-data {
  font-size: 1.2rem;
  padding: 1.5rem;
  text-align: center;
  color: #666;
}

.alert {
  position: relative;
  margin: .5rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);

  > .wrapper {
    padding: 1rem;
  }

  > .close {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    display: block;
    padding: 1rem;
    line-height: 1rem;
    cursor: pointer;
  }
}

.field {
  margin: 0 0 .75rem 0;

  &:last-of-type {
    margin-bottom: 0;

    label.label-more {
      margin-bottom: 0;
    }
  }

  label {
    display: block;

    &.label-head {
      margin-bottom: .75rem;
    }

    &.label-more {
      margin-bottom: .75rem;
    }
  }

  input {
    width: 100%;
    padding: .3rem;
    border: 1px solid #ccc;

    &:hover {
      border-color: #aaa;
    }

    &:focus {
      border-color: #666;
    }
  }
}

.btn {
  display: block;
  border-radius: 1px;
  color: #424242;
  background: #f3f3f3;
  cursor: pointer;
  transition: .2s;
  user-select: none;

  &:hover {
    background: #ddd;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  }

  &:active {
    background: #ccc;
    box-shadow: none;
  }

  &.btn-large {
    display: block;
    padding: .8rem;
    text-align: center;
    color: #424242;
    background: rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

    &:hover {
      background: #fff;
    }
  }

  > i.md-icons + span {
    margin-left: .5rem;
  }

  &.area-idle {
    &:hover {
      color: #fff;
      background: #03A9F4;
    }
  
    &:active {
      color: #fff;
      background: #039BE5;
    }  
  }

  &.area-done {    
    &:hover {
      color: #fff;
      background: #4CAF50;
    }
  
    &:active {
      color: #fff;
      background: #43A047;
    }  
  }

  &.area-halt {
    &:hover {
      color: #fff;
      background: #F44336;
    }
  
    &:active {
      color: #fff;
      background: #E53935;
    }  
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: .5s;
  z-index: 100;

  .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    min-width: 36rem;
    max-width: 50rem;
    overflow: hidden;
    box-shadow: 0 0 .5em 2px rgba(0, 0, 0, 0.2);
    transition: .3s;
    z-index: 200;

    .header {
      display: flex;
      padding: .75rem;
      font-size: 1.2rem;
      color: #B3E5FC;
      background: #424242;
  
      .title {
        flex: 1;
        display: flex;
        align-items: center;
      }
  
      .right {
        flex: 2rem 0;
        text-align: right;
  
        a {
          cursor: pointer;
        }
      }
    }
  
    .content {
      padding: 1px 0;
      background: #EEEEEE;
    }
  }
}

.alert {
  color: #fff;

  .close {
    color: #fff;
  }
}

.badge {
  border-radius: 1px;
  user-select: none;
}

.flex-1 {
  flex: 1 !important;
}

.area-halt {
  color: #fff;
  background: #E53935;
}

.area-busy {
  color: #fff;
  background: #FFB300; 
}

.area-done {
  color: #fff;
  background: #43A047;
}

.area-idle {
  color: #fff;
  background: #039BE5;
}

.area-stroke {
  border: 1px solid #ccc;
  background: #fff;

  &.area-halt {
    color: #E53935;
    border-color: #E53935;
  }
  
  &.area-busy {
    color: #FFB300; 
    border-color: #FFB300; 
  }
  
  &.area-done {
    color: #43A047;
    border-color: #43A047; 
  }
  
  &.area-idle {
    color: #039BE5;
    border-color: #039BE5; 
  }
}

.area-border {
  border: 1px solid #ccc;

  &.area-halt {
    border-color: #D32F2F;
  }

  &.area-busy {
    border-color: #FFA000;
  }

  &.area-done {
    border-color: #388E3C;
  }

  &.area-idle {
    border-color: #0288D1;
  }
}

.fixed-btn {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.card {
  display: flex;
  margin: .75rem;
  padding: .75rem;
  border-radius: 1px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);

  > div {
    margin-right: .5rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .btn, .badge {
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box;
    height: 2rem;
    white-space: nowrap;
    vertical-align: top;

    i {
      font-size: 18px;
      margin-top: -.2rem;
    }
  }

  .badge {
    padding: .5rem 1rem;
  }

  .btn {
    padding: .5rem .75rem;
  }

  .btn + .btn {
    margin-left: .5rem;
  }
}